.bg-img {
  background-image: url(images/background_image.jpg);
  background-size: cover;
  background-position: center 55%;
}

.gallery-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
main dt {
  margin-top: 10px;
}
main dd {
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  main h1,
  main p {
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
  }
}
